<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/0bad113881.js" crossorigin="anonymous"></script>

    <script type="text/javascript" th:src="@{/js/riot/riot_compiler.min.js}"></script>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/userPage.css}">
    <script type="text/javascript" th:src="@{/js/userPage.js}"></script>
    <script type="text/javascript" th:src="@{/js/userPageRiot.js}"></script>
</head>
<body>

<form action="#" th:action="@{/logout}" method="post">
    <button class="btn btn-primary logout-button">Logout</button>
</form>

<userpage></userpage>
<script th:src="@{/js/riotTemplates/userpage.tag}" type="riot/tag"></script>

<script th:inline="javascript">
    /*<![CDATA[*/

    var loggedUserId = /*[[${loggedUserId}]]*/ "";
    var loggedUserName = /*[[${loggedUserName}]]*/ "";
    console.info("loggedUserId", loggedUserId);
    console.info("loggedUserLanguage", loggedUserName);

    /*]]>*/
</script>

<script>
    var userPage = new UserPage();
    userPage.init();
</script>

</body>
</html>